List of all Vivotek cameras:
 
<ul>
<% @vivocameras.each do |vivocamera| %>
	<li>
	 Vivo IPcamera name: <%= vivocamera.name %>
	  <%= link_to 'show', :controller => :vivocamera_userinputs, :action => :show ,:vivocamera_id => vivocamera.id   %>
	  <%= link_to 'edit camera name', :controller => :vivocameras, :action => :edit , :vivocamera_id => vivocamera.id  %>
	 
	</li>
<% end %>

  