<ul>
<% @userinputs.each do |userinput| %>
  <li>
 	 
 	<p>Vivotek Camera名稱:</p>  <%= userinput.vivocamera.name %> ,<p>Vivotek Camera使用者輸入參數:</p>  <%= userinput.property %> 
  
  </li>
<% end %>
</ul>
