@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background: #000000;
  
}




section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/*  container  */

.container{
  
  display: block;
  width: 1600px;
  margin: 0;
  
  
}


/* main   */

#main {
  display: block;
  float: right;
  width : 1000px;  
  margin:0px 100px 0px 0px;
  padding:0px;
  background: silver;
  
}

/* right sidebar */

#sub{
  display: block;
  float:left;
  width : 300px;  
  margin:0px 0px 0px 100px;
  padding:0px;
  
 
  
}

.input_camera{
  display: block;
  float:left;
  width : 250px;  
  margin: 20px 20px 20px 20px;
  background: silver;
   h1{
     font-size: 36px;
   }
}


.camera_property{
  display: block;
  float:left;
  width : 250px;  
  margin: 20px 20px 20px 20px;
  background: silver;
   h1{
     font-size: 36px;
   }
}


/* clearfix */
.clearfix {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}


/* others */

.list-head
{
  
}

.list-head dl
{
  margin-left: 20px;
}

.list-head label
{
  margin-top: 10px;
  margin-left: 10px;
}

.list-content-label
{
  text-decoration: underline;
}

label.overlay {
    color: #888888;
    font-style: italic;
    left: 50px;
    overflow: hidden;
    position: absolute;
    top: 3px;
}

div .special_area input, div .special_area span{
  font-family: "lucida grande",arial,verdana,sans-serif;
	font-size:12px;	
	color:black;
	vertical-align:middle;
}

.div_videomode
{
  margin-bottom: 30px;
}

div .vivotable
{
  margin-top: 15px;
}