@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  color:purple;
}

.main {
  float: right;
  width : 900px;  
  margin:0px 0px 0px 100px;
  padding:0px;
  border:2px solid red;
  
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* right sidebar */

#sub{
  float:left;
  width : 300px;  
  margin:0px 100px 0px 0px;
  padding:0px;
  border:5px solid yellow;
  display:inline;
}

/* clearfix */
.clearfix {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
